body{
	background: url("../images/join3.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	/*font-family:"Open Sans",sans-serif;
	align-items:center;
	justify-content:center;
	display:center;
	font-weight:bold;*/
	font-size:19px;
	
	
}
table{
	width:50%;
	margin:30px auto;
	border-collapse:collapse;
	text-align:left;
}
tr{
	border-bottom:1px solid #cbcbcb;
}

td,th{
	
	border:none;
	height:30px;
	padding:2px;
}
tr:hover{
	background:#f5f5f5;
}

form{
	width:45%;
	margin:50px auto;
	text-align:left;
	padding:20px;
	border:1px solid #bbbbbb;
	border-radius:5px;
}
.input-group{
    margin:10px 0px 10px 0px;
}
.input-group label{
	display:block;
	text-align:left;
	margin:3px;

}
.input-group input{
	height:30px;
	width:93%;
	padding:5px 10px;
	font-size:16px;
	border-radius:5px;
	border:1px solid gray;
}
	
.btn{
	padding:10px;
	font-size:15px;
	color:white;
	background:#5F9EA0;
	border:none;
	border-radius:5px;
}

.u_btn{
	text-decoration:none;
	padding:2px 5px;
	background:#2E8B57;
	color:white;
	border-radius:3px;
}
.d_btn{
	text-decoration:none;
	padding:2px 5px;
	background:#800000;
    color:white;
    border-radius:3px;
}